.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;

  .message-container {
    display: flex;
    align-items: end;
    margin-bottom: 15px;
    gap: 8px;

    img {
      height: 40px;
      width: 40px;
      border-radius: 40px;
    }

    &.user .message::after{
      right: -4px;
      border-right: 10px solid #0B5ED7;
      transform: rotateZ(-45deg);
    }

    &.bot .message::after{
      left: -4px;
      border-left: 10px solid #343A40;
      transform: rotateZ(45deg);
    }

    .message {
      padding: 2px 8px 25px 8px;
      background-color: rgb(234, 234, 234);
      position: relative;
      min-width: 40%;
      max-width: 80%;
      color: white;
      box-shadow: 5px 5px 25px 5px rgba(255, 255, 255, 0.24);

      &::after {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        bottom: -6px;
        display: block;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
      }

      small {
        color: rgba($color: white, $alpha: 0.5);
        margin-bottom: 8px;
      }

      & .message-date {
        font-size: 0.6rem;
        position: absolute;
        bottom: 5px;
        right: 8px;
      }
    }

    &.user{
      justify-content: end;
      .message {
        box-shadow: 5px 5px 25px 5px rgba($color: #0B5ED7, $alpha: 0.24);
        background-color: #0B5ED7;
        border-radius: 8px 8px 0px 8px;
        align-self: end;
      }
    }

    &.bot .message {
      background-color: #343A40;
      border-radius: 8px 8px 8px 0px;
      align-self: start;
    }
  }

}

