.bot-container{
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 50px;
    background: #343a40;
    box-shadow: inset 9.91px 9.91px 15px #2F353A, inset -9.91px -9.91px 15px #393F46;
    border: #343a40 solid 1px;
    
    img{
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin-right: 12px;
    }

    .bot-text{
        p{
            margin: 0;
            &:nth-child(1){
                font-weight: bold;
            }
            &:nth-child(2){
                font-size: 0.8rem;
            }
        }
    }

}