@import "bootstrap";

/* Styles additionnels */
body {
    background-color: #f8f9fa;
}

.sidebar {
    height: 100vh;
    background-color: #343a40;
    background-image: url("https://www.transparenttextures.com/patterns/buried.png");
    color: #fff;
    padding: 15px;
    .bot-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.chat-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 2px rgba($color: black, $alpha: 0.2) inset;
    background-color: #808080;
    background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
}

.chat-input {
    padding: 15px;
    border-top: 1px solid #ddd;
}